[submodule "src/roboy_plexus"]
	path = src/roboy_plexus
	url = https://github.com/Roboy/roboy_plexus
[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "src/roboy_interface"]
	path = src/roboy_interface
	url = https://github.com/Roboy/roboy_interface
[submodule "src/roboy_rqt_plugins"]
	path = src/roboy_rqt_plugins
	url = https://github.com/Roboy/roboy_rqt_plugins
[submodule "src/DarkRoom_rviz"]
	path = src/DarkRoom_rviz
	url = https://github.com/Roboy/DarkRoom_rviz
