[submodule "src/roboy_plexus"]
	path = src/roboy_plexus
	url = https://github.com/Roboy/roboy_plexus
[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "src/roboy_rqt_plugins"]
	path = src/roboy_rqt_plugins
	url = https://github.com/Roboy/roboy_rqt_plugins
[submodule "src/roboy_models"]
	path = src/roboy_models
	url = https://github.com/Roboy/roboy_models
[submodule "src/roboy_simulation"]
	path = src/roboy_simulation
	url = https://github.com/letrend/roboy_simulation
[submodule "src/pysdf"]
	path = src/pysdf
	url = https://github.com/Roboy/pysdf
[submodule "src/timed_roslaunch"]
	path = src/timed_roslaunch
	url = https://github.com/MoriKen254/timed_roslaunch
[submodule "src/roboy_controller"]
	path = src/roboy_controller
	url = https://github.com/Roboy/roboy_controller
[submodule "src/roboy_state_estimator"]
	path = src/roboy_state_estimator
	url = https://github.com/Roboy/roboy_state_estimator
[submodule "src/roboy_soli"]
	path = src/roboy_soli
	url = https://github.com/letrend/roboy_soli
[submodule "src/ball_in_socket_estimator"]
	path = src/ball_in_socket_estimator
	url = https://github.com/Roboy/ball_in_socket_estimator
